<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Rubik:wght@300&display=swap" rel="stylesheet">

</head>
<body>
	<div class="main-head">
		<div class="main-head-text">
			<h1>Hello <%= name %></h1>
		<p>Welcom to Mr Blogger Website.If you was looking for some page where you want to share your blogs or diary securely , You are at the right place.This is Mr Blogger , and we understand your privacy We encrypt all the data you enter here You can view the source code here</p>
		</div>
		<img src="./images/blog.jpg">
	</div>
	<div class="section2">
		<div class="blog-text">
			<h1>Your Diary</h1>
			<div class="underline"></div>
			<h1>Uploaded Images</h1>
    <div>
        <% items.forEach(function(image) { %>
        <div>
            <div>
                <img src="data:image/jpg<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
                <div>
                    <h5><%= image.Date %></h5>
                     
 
<p><%= image.Title %></p>
 
 
                </div>
            </div>
        </div>
        <% }) %>
    </div>
		</div>
	</div>
	<footer>
		<nav>
			<ul class="nav-links">
				<li><a href="">Home</a></li>
				<li><a class="create-btn" href="/create">&#x2295;</a></li>
				<li><a href="">About</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>